body {
  margin: 0 auto;
  padding: 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
  text-decoration: none;

}

a:visited {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
}

.page-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #a426ff;
  overflow: auto;
}

.title {
  margin-top: 100px;
  font-weight: 700;
  font-family: 'Rozha One', serif;
  font-size: 60px;
  color: white;
}

.quote-btn {
  background-color: grey;
  color: white;
  font-weight: 700;
}

.quote-btn:visited {
  background-color: grey;
  color: white;
  font-weight: 700;
}

.quote-btn:hover {
  background-color: black;
  opacity: 0.8;
  color: white;
}

.quote-box {
  padding: 40px;
  background-color: white;
  border-radius: 4px;
}

.quote-author p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: italic;
}

.quote-text p {
  font-size: 20px;
  color: #0a0a0a;
}

.quote-actions {
  margin-top: 20px;
}

.tweet-btn i {
  color: grey;
}

.tweet-btn i:hover {
  color: black;
}

.new-quote {
  bottom: 0;
}

p {
  color: white;
  margin-top: 10px;
}

.footer {
  font-size: 12px;
}
